{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Moah</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/moahtodo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diary.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/galley.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/moahmain.css' %}">
    <style>
        .saveButton {
            background-image: url("{% static 'assets/Group 163.svg' %}");
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <!-- 메인 프레임 -->
    <header>
        <!-- nav list 링크 수정 하면서 작업 + 페이지 마다 폰트 color 다르게 수정 확인 필요 -->
        <div class="nav-list">
            <span style="margin-right: 3.37rem; margin-left: 28.69rem;"><a href="{% url 'main'%}">Main</a></span>
            <img src="{% static 'assets/nav-line.svg' %}" style="margin-right: 3.37rem;">
            <span style="margin-right: 3.37rem"><a href="{% url 'todo'%}">To do</a></span>
            <img src="{% static 'assets/nav-line.svg' %}" style="margin-right: 3.37rem">
            <span style="margin-right: 3.37rem"><a href="{% url 'diaries:diary-list'%}">Diary</a></span>
            <img src="{% static 'assets/nav-line.svg' %}" style="margin-right: 3.37rem">
            <!-- <span style = "margin-right: 3.37rem"><a href = "{% url 'event'%}">Event</a></span>
            <img src = "{% static 'assets/nav-line.svg' %}" style = "margin-right: 3.37rem"> -->
            <span style="margin-right: 6.57rem;"><a href="{% url 'gallery'%}">Gallery</a></span>
        </div>


        <!-- 알람 버튼 -->
        <div>
            <img src="{% static 'assets/alert.svg' %}"
                style="margin-right: 3rem; margin-top: 4.2rem; margin-left: 7.5rem;">
        </div>
        <!-- 햄버거 메뉴 버튼 -->
        <div class="hamburger-menu">
            <img src="{% static 'assets/hambuger.svg' %}">
        </div>
        <nav class="menu">
            <ul class="hamburger-list">
                <li><a href="#">방명록 관리</a></li>
                <div style="  width: 100%;
                height: 0.09375rem;
                background-color: #CECECE;
                "></div>
                <li><a href="#">친구 목록</a></li>
                <div style="  width: 100%;
                height: 0.09375rem;
                background-color: #CECECE;
                "></div>
                <li><a href="#">친구 신청</a></li>
                <div style="  width: 100%;
                height: 0.09375rem;
                background-color: #CECECE;
                "></div>
                <li><a href="{% url 'accounts:logout'%}">로그아웃</a></li>
                <div style="  width: 100%;
                height: 0.09375rem;
                background-color: #CECECE;
                "></div>
                <li><a href="#">탈퇴</a></li>
            </ul>
        </nav>
    </header>
    <!-- 메인 프레임 끝 -->
    {% block content %}

    {% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/moahtodo.js' %}"></script>
    <script src="{% static 'js/diary.js' %}"></script>
    <script src="{% static 'js/account.js' %}"></script>
    <script src="{% static 'js/moahmain.js' %}"></script>
</body>

</html>