{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
</script>
<section class="Date-list">
  <div class="Date-list-num">
    <div class="Date-list-circle" id="jan">Jan</div>
    <div class="Date-list-circle" id="feb">Feb</div>
    <div class="Date-list-circle" id="mar">Mar</div>
    <div class="Date-list-circle" id="apr">Apr</div>
    <div class="Date-list-circle" id="may">May</div>
    <div class="Date-list-circle" id="jun">Jun</div>
    <div class="Date-list-circle" id="jul">Jul</div>
    <div class="Date-list-circle" id="aug">Aug</div>
    <div class="Date-list-circle" id="sep">Sep</div>
    <div class="Date-list-circle" id="oct">Oct</div>
    <div class="Date-list-circle" id="nov">Nov</div>
    <div class="Date-list-circle" id="dec">Dec</div>
  </div>
</section>

<style>
  .custom-button[disabled] img {
    content: url("{% static 'assets/Diary-saveBtn.svg' %}");
  }
  .custom-button img {
    content: url("{% static 'assets/Diary-saveBtn-hover.svg' %}");
  }
</style>

<form method="POST">
  {% csrf_token %}
  <div class="button-container">
    <button class="custom-button" id="savedBtn" disabled><img>
      <p>저장하기</p>
    </button>
  </div>
  <div class="text-content-Wrap">
    <div id="textArea-wrap">
      <div id="title-wrap">
        {% if diary != 'False' %}
        <input type="text" id="title" value="{{diary.title}}" name="title" oninput="checkInput()">
        {% else %}
        <input type="text" id="title" placeholder="제목을 입력하세요" name="title" oninput="checkInput()">
        {% endif %}
        <hr>
      </div>
      <div class="visibility-option">
        <input type="radio" id="public" name="secure" value="True" checked onclick="toggleVisibility('public')">
        <label for="public">공개</label>
        <div class="vertical-line"></div>
        <input type="radio" id="private" name="secure" value="False" onclick="toggleVisibility('private')">
        <label for="private">비공개</label>
      </div>
      <div>
        <!-- <div contenteditable="true">이미지</div> -->
        <textarea id="content" name="content" rows="1" placeholder="내용을 입력하세요" onchange="handleResizeHeight()">
          {% if diary.content %}
          {{ diary.content }}
          {% endif %}
        </textarea>
      </div>
    </div>
  </div>
</form>
<script src="/Diary/Diary.js">
</script>
<script src="/main/main.js"></script>
<script>
  $.ajaxSetup({
    headers: { "X-CSRFToken": '{{csrf_token}}' }
  });
  let array = new Array();
  $(function () {
    $('#content').summernote({
      height: 400, focus: true, width: "100%",
      lang: 'ko-KR',

      //이미지 업로드 시 width 적용
      callbacks: {
        onImageUpload: function (image) {
          console.log('in');
          const file = image[0];
          const reader = new FileReader();
          reader.readAsDataURL(file);
          array.push(image[0]);
          reader.onloadend = function () {
            const image = $('<img>').attr('src', reader.result);
            image.attr('width', '50%');
            $('#content').summernote("insertNode", image[0]);
          }
          reader.readAsDataURL(file);
        },
        onMediaDelete: function ($target, editor, $editable) {
          if (("{{diary}}" != 'False') && confirm('이미지를 삭제 하시겠습니까?')) {
            var deletedImageUrl = $target
              .attr('src')
              .split('/')
              .pop()

            // ajax 함수 호출
            data = new FormData()
            data.append('file', deletedImageUrl)
            let n = "{{diary.id}}";
            $.ajax({
              data: data,
              type: 'POST',
              url: `/diary/delete/image/${n}`,
              contentType: false,
              enctype: 'multipart/form-data',
              processData: false,
            })
          }
        },
      }
    });
    //const markupStr = '{{form.content.value|safe|addslashes|default_if_none:""}}'
    const markupStr = '{{diary.content|safe|addslashes|default_if_none:""}}'
    $('#content').summernote('code', markupStr);
  });
  $(document).ready(function () {
    $("#savedBtn").click(function () {
      if ("{{diary}}" != 'False') {
        for (let fi of array) {
          data = new FormData();
          data.append('image', fi);
          let n = "{{diary.id}}";
          alert(n)
          $.ajax({
            url: `/diary/post/image/${n}`,
            data: data,
            cache: false,
            type: "POST",
            contentType: false,
            processData: false,
            success: function (url) {
              console.log("성공")
            }
          })
        }
      }
      else {
        for (let fi of array) {
          data = new FormData();
          data.append('image', fi);
          $.ajax({
            url: "{% url 'diaries:diary-image' %}",
            data: data,
            cache: false,
            type: "POST",
            contentType: false,
            processData: false,
            success: function (url) {
              console.log("성공")
            }
          })
        }
      }
    })
  })
</script>
</body>

</html>
{% endblock %}