{% extends 'base.html'  %}
{% load static %}
{% block content %}
  <section class="Date-list">
    <div class="Date-list-num">
      <div class="Date-list-circle" id="jan">Jan</div>
      <div class="Date-list-circle" id="feb">Feb</div>
      <div class="Date-list-circle" id="mar">Mar</div>
      <div class="Date-list-circle" id="apr">Apr</div>
      <div class="Date-list-circle" id="may">May</div>
      <div class="Date-list-circle" id="jun">Jun</div>
      <div class="Date-list-circle" id="jul">Jul</div>
      <div class="Date-list-circle" id="aug">Aug</div>
      <div class="Date-list-circle" id="sep">Sep</div>
      <div class="Date-list-circle" id="oct">Oct</div>
      <div class="Date-list-circle" id="nov">Nov</div>
      <div class="Date-list-circle" id="dec">Dec</div>
    </div>
  </section>

  <form>
    <div class="button-container">
      <button class="custom-button" id="savedBtn" disabled><img>
        <p>저장하기</p>
      </button>
    </div>
    <div class="text-content-Wrap">
      <div id="textArea-wrap">
        <div id="title-wrap">
          <input type="text" id="title" placeholder="제목을 입력하세요" name="text-title" oninput="checkInput()">
          <hr>
        </div>
        <div class="visibility-option">
          <input type="radio" id="public" name="visibility" value="public" checked onclick="toggleVisibility('public')">
          <label for="public">공개</label>
          <div class="vertical-line"></div>
          <input type="radio" id="private" name="visibility" value="private" onclick="toggleVisibility('private')">
          <label for="private">비공개</label>
        </div>
        <div>
          <!-- <div contenteditable="true">이미지</div> -->
          <textarea id="content" rows="1" placeholder="내용을 입력하세요" onchange="handleResizeHeight()"></textarea>
        </div>
      </div>
    </div>
  </form>
      

    <script src="/Diary/Diary.js"></script>
    <script src="/main/main.js"></script>
</body>

</html>