{% extends 'base.html'  %}
{% load static %}
{% block content %}

    <section>
        <div class="TodoTitle">
            <img src="{% static 'assets/Ellipse 67.svg' %}" alt="표시 점" class="titleImg">
            <p class="ToDo">To Do</p>
        </div>
        <div class="thisMonth">
            <p class="month">October</p>
        </div>
        <div id="calendar"></div>
        <div class="actionButton">
            <button class="createButton">
                <img src="{% static 'assets/+.svg' %}" alt="추가 버튼" class="plusButton">
                
            </button>
            <input class="saveButton" alt="저장 버튼"  value="         " type="submit"> <!--base.html에 style 태그로 사진 삽입-->
        </div>

        <!--투두리스트-->
        <div class="toDoList">
            <p class="checkList">
                <input type="checkbox" id="select" onclick="toggleTask(this)">
                    <input type="text" placeholder="내용을 입력해주세요." id="field" value="{{ todo.todolist }}">
                <a href="{% url 'djangocreate' %}" style="font-size:30px; color:#F1F1F1">내용을 입력하세요 우와아앙 해냈다ㅠㅠㅠ</a>&nbsp;&nbsp;&nbsp;
            </p>
            <button class="minusButton">
                <img src="{% static 'assets/Group 170.svg' %}" alt="삭제 버튼" class="deleteButton">
            </button>
        </div>
        {% comment %} {% for todo in todo_list %}
        <div class="toDoList">
            <p class="checkList">
                <input type="checkbox" id="select" onclick="toggleTask(this)"> 
                <input type="text" placeholder="내용을 입력해주세요." id="field" value="{{ todo.todolist }}">
                <!--placeholder와 value 충돌 일어남-->
                <!--placeholder없으면 추가 안됨-->
                <a href="{% url 'djangocreate' %}" style="font-size:30px; color:#F1F1F1">내용을 입력하세요</a>&nbsp;&nbsp;&nbsp;
            </p>
            <form method="POST" action="{% url 'todo:delete_button_view' %}">
                {% csrf_token %}
                <button class="minusButton">
                    <img src="{% static 'assets/Group 170.svg' %}" alt="삭제 버튼" id = "deleteButton" class="deleteButton">
                </button>
            </form>
        </div>
        {% endfor %} {% endcomment %}
        {% for todo in todo_list %}
        <div class="toDoList">
            <p class="checkList">
                <input type="checkbox" id="select" onclick="toggleTask(this)">
                <input type="text" placeholder="내용을 입력해주세요." id="field" value="{{ todo.todolist }}">
                <!--placeholder와 value 충돌 일어남-->
                <!--placeholder없으면 추가 안됨-->
                <form method="POST" action="{% url 'todo:delete_button_view' %}">
                    {% csrf_token %}
                    <input type="hidden" name="button_id" value="{{ todo.id }}">
                    <button class="minusButton">
                        <img src="{% static 'assets/Group 170.svg' %}" alt="삭제 버튼" id="deleteButton" class="deleteButton">
                    </button>
                </form>
            </p>
        </div>
        {% endfor %}

    

    </section>

{% endblock %}