{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body class="container">
    <section>
        <div class=main-logo id=main-logo-bg style="border-radius: 3.125rem;">
            <img src="{% static 'assets/main-logo-.svg' %}">
        </div>
    </section>
    <section style="text-align: center;">
        <div id=main-title style="margin-bottom: 0.87rem;">MOAH</div>
        <div id=sub-title style="margin-bottom: 6.94rem;">오늘의 <strong>할일</strong>을 <strong>내일의 기록</strong>으로</div>
    </section>
    <section>
        <form class="form_wrap_line" method="POST">
            {% csrf_token %}
            <div style="margin-bottom: 1.5rem;">
                {% if error == 'email' or error == 'error' %}
                <input type="text" class="input-form" id="id" placeholder="  이메일을 입력해주세요" name="email"
                    style="border: 2px solid #FF3F3F;">
                <div class="login_alert" id="login-alert-danger">아이디를 확인해주세요</div>
                {% else %}
                <input value="{% if email %}{{email}}{% endif %}" type="text" class="input-form" name="email" id="id"
                    placeholder="  이메일을 입력해주세요">
                {% endif %}
            </div>
            <div style="margin-bottom: 2rem;">
                <label for="passwordField" class="password-label">
                    {% if error == 'password' or error == 'error'%}
                    <input type="password" name="password" id="passwordField" class="input-form"
                        placeholder="  비밀번호를 입력해주세요" style="border: 2px solid #FF3F3F;">
                    <img src="{% static 'assets/pwd-toggle-show.svg' %}" class="toggle-image1"
                        onclick="togglePasswordVisibility()">
                    <div class="login_alert" id="pw-alert-danger">비밀번호를 확인해주세요</div>
                    {% else %}
                    <input type="password" name="password" id="passwordField" class="input-form"
                        placeholder="  비밀번호를 입력해주세요" value="{% if password %}{{password}}{% endif %}">
                    <img src="{% static 'assets/pwd-toggle-show.svg' %}" class="toggle-image1"
                        onclick="togglePasswordVisibility()">
                    {% endif %}
                </label>
            </div>
            <div>
                <button type="submit" id=login_submitbtn onclick="handleLogin()">로그인</button>
            </div>
        </form>
        <div id="move-href" style="text-align: center; margin-top: 2rem;">
            <span><a href="#">비밀번호 찾기</a></span>
            <span class="line" style="width: 0.0625rem;
            height: 1.5rem; color: #CECECE;">|</span>
            <span><a href="{% url 'accounts:signup' %}">회원가입</a></span>
        </div>
    </section>

    <script src="{% static 'js/account.js' %}"></script>
</body>

</html>